*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(11, 31, 58);
  background-color: rgb(255, 255, 255);
}

section {
  text-align: center;
  padding: 20px;
}

footer {
  padding: 20px;
}

.header__container {
  display: grid;
  grid-template-columns: 5% 70% 20% 5%;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .header__container {
    padding-top: 20px;
    grid-template-columns: 5% 45% 45% 5%;
  }
}

.header__logo_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  width: 80%;
}
@media screen and (min-width: 700px) {
  .header__logo_heading {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: left;
    width: auto;
  }
}
.header__contact {
  display: none;
}
@media screen and (min-width: 700px) {
  .header__contact {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: end;
  }
}
@media screen and (min-width: 1000px) {
  .header__contact {
    font-size: 1.2rem;
    padding-right: 24px;
  }
}

.header__menu {
  grid-column: 3/4;
  justify-self: end;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .header__menu {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
    padding-left: 0px;
    width: auto;
  }
}

.header__banner {
  width: 100vw;
  grid-row: 2/3;
}
@media screen and (min-width: 700px) {
  .header__banner {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media screen and (min-width: 1000px) {
  .header__banner {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}

.header__logo {
  width: 80px;
  margin-right: 10px;
}
@media screen and (min-width: 1000px) {
  .header__logo {
    width: 96px;
  }
}

.header__heading {
  font-size: 24px;
}
@media screen and (min-width: 1000px) {
  .header__heading {
    font-size: 1.8rem;
  }
}

.header__contact-fb {
  margin-left: 10px;
}

@media screen and (min-width: 700px) {
  .menu__bars {
    display: none;
  }
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  background-color: rgb(11, 31, 58);
  border-radius: 10%;
  margin-top: 10px;
}
@media screen and (min-width: 700px) {
  .bar {
    display: none;
  }
}

.bar.first {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.bar.second {
  display: none;
}

.bar.third {
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}

.menu__list {
  display: none;
}
@media screen and (min-width: 700px) {
  .menu__list {
    display: flex;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 700px) and (min-width: 1000px) {
  .menu__list {
    font-size: 1.2rem;
    gap: 15px;
  }
}

.menu__list-submenu {
  display: none;
  font-style: italic;
  background-color: rgb(229, 104, 104);
}
@media screen and (min-width: 700px) {
  .menu__list-submenu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 25%;
    text-align: left;
    font-style: normal;
  }
}

.menuListShown {
  display: block;
  position: absolute;
  background-color: rgb(11, 31, 58);
  min-width: 100vw;
  right: -10%;
  top: 140%;
  padding-left: 0;
  margin-top: 44px;
  text-align: center;
}

.menu__item {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px rgb(255, 255, 255);
}
@media screen and (min-width: 700px) {
  .menu__item {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.menu__item-arrow {
  margin-left: 5px;
}

.menu__item-phone,
.menu__item-fb {
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 700px) {
  .menu__item-phone,
.menu__item-fb {
    display: none;
  }
}

.menu__item-fb {
  margin-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 700px) {
  .menu__link {
    color: rgb(0, 0, 0);
  }
}

@media screen and (min-width: 700px) {
  .menu__link.active {
    color: rgb(228, 5, 33);
    font-weight: bold;
  }
}

@media screen and (min-width: 700px) {
  .menu__link:hover {
    color: rgb(228, 5, 33);
    font-weight: bold;
  }
}

@media screen and (min-width: 700px) {
  .menu__link:active {
    color: rgb(91, 10, 13);
  }
}

.menu__item:hover {
  background-color: rgb(136, 32, 36);
}
@media screen and (min-width: 700px) {
  .menu__item:hover {
    background-color: transparent;
  }
}

.menu__item:active {
  background-color: rgb(91, 10, 13);
}
@media screen and (min-width: 700px) {
  .menu__item:active {
    background-color: transparent;
  }
}

.menu__item:visited {
  background-color: #E3879E;
}

main {
  height: 500px;
}

.footer {
  background-color: rgb(11, 31, 58);
}

.footer__container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .footer__container {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
  }
}
@media screen and (min-width: 1000px) {
  .footer__container {
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
  }
}

.footer img {
  width: 25px;
}
@media screen and (min-width: 700px) {
  .footer img {
    width: 35px;
  }
}
@media screen and (min-width: 1000px) {
  .footer img {
    width: 48px;
  }
}

.footer a {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 700px) {
  .footer__address {
    grid-column: 2/3;
  }
}

@media screen and (min-width: 700px) {
  .footer__contact {
    grid-column: 3/4;
  }
}

@media screen and (min-width: 700px) {
  .footer__facebook {
    grid-column: 4/5;
  }
}

@media screen and (min-width: 1000px) {
  .footer__address-map {
    display: none;
  }
}

.footer__map {
  display: none;
}
@media screen and (min-width: 1000px) {
  .footer__map {
    display: inline-block;
    grid-column: 5/6;
  }
}

.footer__copyright {
  margin-top: 35px;
}
@media screen and (min-width: 700px) {
  .footer__copyright {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}/*# sourceMappingURL=style.css.map */