*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header__container {
  display: grid;
  grid-template-columns: 5% 40% 50% 5%;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .header__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .header__container {
    grid-template-columns: 5% 15% 75% 5%;
  }
}

.header__logo_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}
@media screen and (min-width: 700px) {
  .header__logo_heading {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: left;
  }
}
@media screen and (min-width: 1000px) {
  .header__logo_heading {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.header__contact {
  display: none;
}
@media screen and (min-width: 700px) {
  .header__contact {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: end;
  }
}
@media screen and (min-width: 1000px) {
  .header__contact {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: -15px;
  }
}

.header__menu {
  grid-column: 3/4;
  justify-self: end;
  position: relative;
}
@media screen and (min-width: 700px) {
  .header__menu {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .header__menu {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: end;
  }
}

.header__banner {
  width: 100vw;
  grid-row: 2/3;
}
@media screen and (min-width: 700px) {
  .header__banner {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media screen and (min-width: 1000px) {
  .header__banner {
    height: 250px;
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}

.header__logo {
  width: 64px;
  margin-right: 10px;
}

.header__heading {
  font-size: 24px;
}

.header__contact-fb {
  margin-left: 10px;
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  background-color: rgb(228, 5, 33);
  border-radius: 10%;
  margin-top: 10px;
}
@media screen and (min-width: 700px) {
  .bar {
    display: none;
  }
}

.menu__list {
  display: none;
}
@media screen and (min-width: 700px) {
  .menu__list {
    display: flex;
    text-align: center;
    padding-left: 0px;
  }
}

.menu__list-submenu {
  display: none;
}

.menuListShown {
  display: block;
  position: absolute;
  background-color: rgb(228, 5, 33);
  min-width: 100vw;
  right: -48%;
  top: 140%;
  padding-left: 0;
  margin-top: 44px;
  text-align: center;
}

.menu__item {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px white;
}
@media screen and (min-width: 700px) {
  .menu__item {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.menu__item-arrow {
  margin-left: 5px;
}

.menu__item-phone,
.menu__item-fb {
  color: white;
}
@media screen and (min-width: 700px) {
  .menu__item-phone,
.menu__item-fb {
    display: none;
  }
}

.menu__item-fb {
  margin-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 700px) {
  .menu__link {
    color: black;
  }
}

@media screen and (min-width: 700px) {
  .menu__link.active {
    color: rgb(228, 5, 33);
    font-weight: bold;
  }
}

@media screen and (min-width: 700px) {
  .menu__link:hover {
    color: rgb(228, 5, 33);
    font-weight: bold;
  }
}

.menu__item:hover {
  background-color: lightblue;
}
@media screen and (min-width: 700px) {
  .menu__item:hover {
    background-color: white;
  }
}

.bar.first {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.bar.second {
  display: none;
}

.bar.third {
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}/*# sourceMappingURL=style.css.map */