@mixin tablet { 
    @media screen and (min-width: 700px) {@content; }}

@mixin desktop {
    @media screen and (min-width: 1000px) {@content; }}

$primaryRed:rgb(228,5,33);
$additionalRed: rgb(200,0,30);
$primaryBlack: rgb(0, 0, 0);
$primaryWhite: rgb(255,255,255);
$additonalBlue:rgb(45,46,135);
$sletBlue:rgb(11,31,58);
$sletRed:rgb(255,0,40);
$sletPink: rgb(255, 217, 217);




*, :after, :before {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    color:$sletBlue;
    background-color: $primaryWhite;

}

section {
    text-align: center;
    padding: 20px;
}

footer {
    padding:20px;
}

// HEADER 

.header__container {

    display:grid;
    grid-template-columns: 5% 70% 20% 5%; 
    align-items: center;

    @include tablet {
        padding-top:20px;
        grid-template-columns: 5% 45% 45% 5%;

    }  
}

.header__logo_heading {
    display:flex;
    justify-content: center;
    align-items:center;
    grid-column: 2 / 3;
    width: 80%;
   
    @include tablet {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: left;
        width: auto;
    }  
    @include desktop {
        
        
    }}

.header__contact {
    display:none;

    @include tablet {
    display:flex;
    align-items:center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: end;
    } 
    @include desktop {
        font-size: 1.2rem;
        padding-right: 24px;
    }
    
    }
    
.header__menu {
    grid-column: 3 / 4;
    justify-self: end;
    position:relative;
    width:100%; //hmg menu rozložené aby sedělo
   
    
    @include tablet {
        display:flex;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
        margin:0;
        padding-left: 0px;
        width: auto;}

    
}
.header__banner {
        width: 100vw;
        grid-row: 2 / 3;
    
        @include tablet {
            grid-column: 1 / -1;
            grid-row: 3 / 4;}
        @include desktop {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
    }}


.header__logo {
    width: 80px; 
    margin-right:10px;
    @include desktop {
        width: 96px;
    }
}

.header__heading {
    font-size: 24px;
    @include desktop {
        font-size: 1.8rem;
    }
}

.header__contact-fb {
    margin-left: 10px;
}

.menu__bars{
    @include tablet {
        display:none;
    }
}

.bar { 
   display:block;
    width: 40px;
    height: 5px;
    background-color: $sletBlue;
    border-radius: 10%;
    margin-top: 10px;

    @include tablet {
        display:none;
    }}

    .bar.first {
        transform:rotate(45deg);
        transition: transform 0.4s ease-in-out;
    }
    
    .bar.second {
        display:none;
    }
    
    .bar.third {
        transform:rotate(-45deg);
        transition: transform 0.4s ease-in-out;
    }
    
     

.menu__list {
    display:none;
    @include tablet {
        display:flex;
        text-align: center;
        padding-left:0px;
        margin-bottom:0px;
    
    @include desktop {
        font-size: 1.2rem;
        gap: 15px;
    }
    }
  
}


.menu__list-submenu{
    display:none;
    font-style: italic;
    background-color: rgb(229, 104, 104);
    @include tablet {
        position:absolute;
        background-color: $primaryWhite;
        width: 25%;
        text-align: left;
        font-style: normal;
    } }



.menuListShown {
    display: block;
    position:absolute;
    background-color:$sletBlue;
    min-width: 100vw;
    right: -10%; //-48
    top: 140%;
    padding-left:0;
    margin-top: 44px;
    text-align:center;
    //transform:translateX(-250%);
    
   
}
.menu__item {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:solid 2px $primaryWhite; 
    @include tablet { 
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
   
    }
}

.menu__item-arrow {
    margin-left:5px;
}

.menu__item-phone,
.menu__item-fb {
    color:$primaryWhite;
    @include tablet {
        display:none;
    }}

.menu__item-fb {
    margin-bottom: 20px;
}

.menu__link {
    text-decoration: none;
    color:$primaryWhite;
    @include tablet { 
        color:$primaryBlack;
      }}

.menu__link.active {
    @include tablet {
color: $primaryRed; 
font-weight: bold;}
}

.menu__link:hover{
    @include tablet { 
        color: $primaryRed;
        font-weight: bold;      
}}

.menu__link:active{
    @include tablet { 
    color: rgb(91, 10, 13);
                 
}}


.menu__item:hover {
    background-color: rgb(136, 32, 36);
    @include tablet { 
    background-color: transparent;
    }}

.menu__item:active {
    background-color: rgb(91, 10, 13); 
    @include tablet { 
        background-color: transparent;
        }

}

.menu__item:visited {
    background-color: #E3879E;
}


//MAIN 


main{
    height: 500px;
}
    
// FOOTER

.footer {
    background-color: $sletBlue;
    
}

.footer__container {
    max-width: 1400px;
    margin-left:auto;
    margin-right:auto;
    color: $primaryWhite;
    text-align:center;
    
    @include tablet {
        display:grid;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        
    }
    @include desktop {
        grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;;
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: center;
       
    }

}

.footer img {
    width: 25px;
    @include tablet {
    width: 35px;}
    @include desktop {
    width: 48px;
    }
}

.footer a {
    color: $primaryWhite;
}



.footer__address {
    @include tablet {
        grid-column: 2 / 3;
    }
}

.footer__contact {
    @include tablet {
        grid-column: 3 / 4;
    }
   
}

.footer__facebook {
    @include tablet {
        grid-column: 4 / 5;

    }
}

.footer__address-map {
    @include desktop {
        display:none;
    }
}

.footer__map {
    display:none;
    @include desktop {
        display:inline-block;
        grid-column: 5 / 6;
    }
}

.footer__copyright {
    margin-top: 35px;
    @include tablet {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        
    }
}